<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置列外 -->
		<resources mapping="/ui/**" location="/ui/" />
		<resources mapping="/upload/**" location="/upload/" />
	<!-- 定义跳转文件的前缀和后缀 视图view的配置 -->
	<beans:bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views"></beans:property>
		<beans:property name="suffix" value=".jsp"></beans:property>
	</beans:bean>
	<!-- 使用注解扫描包 -->
	<context:component-scan base-package="com.file"></context:component-scan>
	<!-- 开启注解 -->
<!-- 	<annotation-driven/> -->
<annotation-driven>
		<message-converters>
			<beans:bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<beans:property name="supportedMediaTypes">
					<beans:list>
						<beans:value>application/json</beans:value>
					</beans:list>
				</beans:property>
			</beans:bean>
			<beans:bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<beans:property name="supportedMediaTypes" value="text/html; charset=UTF-8" />
			</beans:bean>
		</message-converters>
	</annotation-driven>
	<!-- 多部分文件上传 -->
	<beans:bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <beans:property name="maxUploadSize" value="104857600" />
     <beans:property name="maxInMemorySize" value="4096" />
     <beans:property name="defaultEncoding" value="UTF-8" />
	</beans:bean>
</beans:beans>